.game{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background: #080808;
}

.grid{
  background:#181818;
  width:max-content;
  height: max-content;
  margin: auto;
  padding: 5px;
  border-radius:5px;
  margin-top: 30px;
  position: relative;
}

@media screen and (max-width:520px) {
  .grid{
    width: 300px;
  }
}

.newgamebtn{
  padding:10px;
  background-color:#181818;
  color:white;
  border-radius: 4px;
  outline: none;
  border:none;
  cursor: pointer;
}

.newgamebtn:hover{
  box-shadow:0 0 5px cyan;
}